datasets
diffusers==0.20.2
einops
huggingface-hub==0.22.2
imageio
jaxtyping
# joblib
lightning-utilities
# matplotlib
numpy==1.26.3
omegaconf
opencv-python
pandas
pillow
# plyfile
# PyMCubes
pyparsing
pytorch-lightning==2.2.4
PyYAML
safetensors
scikit-image
scipy==1.13.0
tensorboard
tensorboardX
timm
tokenizers
tqdm
transformers
trimesh
wandb
# segment_anything==1.0
spaces
# open_clip_torch
kiui
accelerate
addict
xformers
webdataset
IPython
spconv
OpenEXR==3.2.4
rembg
onnxruntime
bpy==3.6.0
xatlas
pygltflib
